.mainview-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
  width: 50%;
}

.controls > div {
  flex-grow: 1;
  margin-left: .5rem;
  margin-right: 1rem;
}

/* .controls .progress-bar[aria-valuenow="0"] {
  transition: none;
} */

.controls .progress-bar {
  transition: none;
}

.chart-wrapper {
  width: 50%;
}
